#chart__street{
    box-sizing: border-box;
    padding:0;
    display:flex;
    cursor:default;
}

.chart__section{
    color:#212121;
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

.chart__section:last-child{
    border-bottom: 0;
}

.chart__section-title{
    padding:15px 15px;
    display:flex;
    justify-content: space-between;
    color:#212121;
    font-size:18px;
    font-weight:700;
}

.chart__section-main{
    display:flex;
    flex-direction:column;
}

.chart__section-main{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.street-info__main-column{
    padding: 0 20px 5px 20px;
    width:47%;
}

.chart__section-main p{
    margin-bottom: 12px;
    font-size: 15px;
}

.chart__section-main canvas{
    padding: 5px 10px 0 10px;
}

.chart__section-main h4{
    position: absolute;
    z-index: 2;
    color:#636363;
}

