#chart__street{
    box-sizing: border-box;
    border-left:1px solid #CCCCCC;
    padding:0;
    display:flex;
    cursor:default;
    overflow-y:scroll;
}

.chart__section{
    color:#212121;
    border-bottom: 1px solid #CCCCCC;
}

.chart__section:last-child{
    border-bottom: 0;
}

.chart__section-title{
    padding:15px 20px;
    display:flex;
    justify-content: space-between;
    color:#2962FF;
    font-size:20px;
    font-weight:700;
}

.chart__section-main{
    display:flex;
}

.chart__section-main{
    display:flex;
}

.street-info__main-column{
    padding: 0 20px 5px 20px;
    width:47%;
}

.chart__section-main p{
    margin-bottom: 10px;
    font-size: 15px;
}

.chart__section-main canvas{
    padding: 5px 10px 0 10px;
    height:150px;
}

#chart_hour{
    height:140px;
}

#chart_injured{
    height:140px;
}

