#chart__street{
    box-sizing: border-box;
    border-left:1px solid #CCCCCC;
    padding:0;
    display:flex;
    cursor:default;
}

.chart__section{
    color:#212121;
    border-bottom: 1px solid #CCCCCC;
}

.chart__section-title{
    padding:20px;
    display:flex;
    justify-content: space-between;
    color:#2962FF;
    font-size:20px;
    font-weight:700;
}

.chart__section-main{
    display:flex;
}

.street-info__main-column{
    padding: 0 20px 5px 20px;
    width:45%;
}

.chart__section-main p{
    margin-bottom: 15px;
}

.chart__section-main canvas{
    padding: 10px 10px;
    height:200px;
}