@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap";
@import "map.css";
@import "chart__street.css";
@import "chart__entire.css";
@import "responsive.css";

html, body{
    height:99vh;
    margin:auto;
    font-family: Lato, sans-serif;
}

.container-fluid{
    height:100%;
    position:relative;
}

.container__main{
    margin:0;
    max-width:1280px;
}

.row{
    height:100%;
}

#modal{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
    background-color: rgba(0,0,0,0.2);
}

#modal #modal__window{
    display:flex;
    background-color: #FFFFFF;
    padding:20px;
    flex-direction: column;
    overflow-y:scroll;
}

#modal__window h1{
    font-weight:700;
    font-size:20px;
}

#modal__window button{
    height: 30px;
    border:1px solid #212121;
    background-color:#FFFFFF;
    border-radius:5px;
    font-weight:400;
    font-size:18px;
    margin-top:20px;
}

#window-title{
    display:flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right:20px;
    align-items: center;
    margin: 0 0 20px 0;
    height:50px;
}

#window-title h1{
    font-size:25px;
}

#modal__window button:hover{
    color:#FFFFFF;
    background-color:#424242;
    font-weight:700;
}

#modal__window p{
    font-size:20px;
    line-height:25px;
    margin-bottom:20px;
}

#modal__window ul li{
    font-size:16px;
    line-height:25px;
    margin-bottom:15px;
}

