@media screen and (min-width:991px){
    #map{
        height:100%;
    }
    #chart__street, #chart__entire{
        height:100%;
        flex-direction: column;
    }
    .chart__section{
        width:100%;
    }
}

@media screen and (min-width:751px) and (max-width:991px){
    #map{
        height:60%;
    }
    #chart__street, #chart__entire{
        height:40%;
        flex-direction: column;
    }
    .chart__section{
        width:100%;
    }

}

@media screen and (max-width:750px) {
    #map {
        height: 500px;
    }

    #chart__street, #chart__entire {
        min-height:40%;
        flex-direction: column;
    }
    .chart__section{
        width:100%;
    }
}